<form [formGroup]="form">
  <div class="form-group row">
    <mat-form-field>
      <label for="street">Street</label>
      <input id="street" matInput placeholder="Street" formControlName="street">
    </mat-form-field>
  </div>
  <div class="form-group row">
    <mat-form-field>
      <label for="zip">Zip code</label>
      <input id="zip" matInput placeholder="Zip code" formControlName="zipCode">
    </mat-form-field>
  </div>
  <div class="form-group row">
    <mat-form-field>
      <label for="city">City</label>
      <input id="city" matInput placeholder="City" formControlName="city">
    </mat-form-field>
  </div>
</form>
