<form [formGroup]="form">
  <div class="form-group row">
    <mat-form-field>
      <label for="bank">Bank</label>
      <input id="bank" matInput placeholder="Bank" formControlName="bank">
    </mat-form-field>
  </div>
  <div class="form-group row">
    <mat-form-field>
      <label for="iban">IBAN</label>
      <input id="iban" matInput placeholder="IBAN" formControlName="iban">
    </mat-form-field>
  </div>
  <div class="form-group row">
    <mat-form-field>
      <label for="validUntil">Choose a date</label>
      <input id="validUntil" matInput [matDatepicker]="validUntil" formControlName="validUntil"
             placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="validUntil"></mat-datepicker-toggle>
      <mat-datepicker #validUntil></mat-datepicker>
    </mat-form-field>
  </div>
</form>
